.paginator {
    text-align: center;
}
.numbersPage {
    cursor: pointer;
    margin: 2px;
    padding: 3px;
    border: 2px solid grey;
}

.numbersPage.selectedPage {
    font-weight: bold;
    border-color: black;
}