.nav {
    grid-area: n;
    background: #E3E3E3;
    padding: 20px;
}

.item {
    color: black;
    text-decoration: none;
}

.active {
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.friends {
    color: cornflowerblue;
    font-size: 25px;
    text-align: center;
}