.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: green;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}

.textarea{
    margin-left: 20px;
}